* {
    box-sizing: border-box;
}

.heading {
    text-align: center;
}

.required {
    color: red;
}

.form-control {
    color: black;
    background-color: rgb(239 239 239);
    border: 1px solid black;
    border-right-color: rgb(239 239 239);
    border-bottom-color: rgb(239 239 239);
}

.form-control:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

.button .col-sm-2 {
    display: flex;
    justify-content: flex-end;
}

.btn {    
    line-height: 1.5;
    border: 1px solid black;
    color: white;
}

.btn-submit {
    background-color: #5cb85c;
    border-top-color: #5cb85c;
    border-left-color: #5cb85c;
    margin-right: 10px;
}

.btn-reset {
    background-color: #f0ad4e;
    border-top-color: #f0ad4e;
    border-left-color: #f0ad4e;
}

a {
    color: #00a9eb;
    font-weight: bold;
}

.link {
    display: flex;
    justify-content: flex-end;
}